body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

h1 {
  margin-top: 3rem;
  text-align: center;
  color: white;
}
h2 {
  color: white;
}

.DASHBOARD {
  height: 10rem;
  background-color: white;
  color: black;
  border-radius: 3rem;
  width: 30%;
  margin: auto;
  padding: 0%;
}

.Scores {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
}

.Stats {
  text-align: center;
}

.OPTIONS img,
.Choices img {
  width: 7rem;
  border: white;
  border: 3px white solid;
  border-radius: 100%;
  padding: 1rem;
  cursor: pointer;
}

.OPTIONS {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

button {
  width: 15rem;
  height: 4rem;
  border-radius: 3rem;
  border-style: none;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.button-Cont {
  display: flex;
  justify-content: center;
}

.Choices {
  display: flex;
  justify-content: space-around;
}

.RESULT {
  display: flex;
  justify-content: center;
}

.parent {
  background-color: rgb(70, 214, 70);
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.parent div {
  gap: 20rem;
}
